<footer id="footer" class="main-content-wrap">
    <script src="https://apis.google.com/js/platform.js"></script>
    <div class="g-ytsubscribe" data-channelid="UCYLAf7WuBy6y64RewvwGjoQ" data-layout="full" data-count="default"></div>
    <span class="copyrights">
        Copyright &copy;<%= date(new Date(), 'YYYY') + ' ' + config.author || config.title %>. All Rights Reserved.
    </span>
</footer>
