<!-- Define author's picture -->
<% var authorPicture = null; %>
<% if (theme.gravatar_email && theme.gravatar_email.length) { %>
    <% authorPicture = gravatar(theme.gravatar_email, 110); %>
<% } else if (theme.author.picture && theme.author.picture.length) { %>
<% if (is_remote_url(theme.author.picture)) { %>
        <% authorPicture = theme.author.picture; %>
    <% } else { %>
        <% authorPicture = url_for(theme.image_dir + '/' + theme.author.picture); %>
    <% } %>
<% } %>

<amp-sidebar id='sidebar1' layout='nodisplay'>
  <ul>
    <li>
      <% if (authorPicture) { %>
          <a href="<%- url_for('/#about') %>">
              <amp-img class="sidebar-profile-picture" width="90" height="90" src="<%= authorPicture %>"/>
          </a>
          <span class="sidebar-profile-name"><%= config.author %></span>
      <% } %>
    </li>
    <li><amp-social-share type="facebook" data-param-app_id="1060975204048170"></amp-social-share></li>
    <li><amp-social-share type="tumblr"></amp-social-share></li>
    <li><amp-social-share type="twitter"></amp-social-share></li>
    <li> Nav item 5</li>
    <li> Nav item 6</li>
    <li> Nav item 7</li>
    <li> Nav item 8</li>
    <li> Nav item 9</li>
    <li on="tap:sidebar1.close"> Close</li>
  </ul>
</amp-sidebar>
