a.link-unstyled {
    &,
    &:hover,
    &:active {
        cursor:          pointer;
        color:           inherit;
        text-decoration: none;
    }
    a.link {
        &,
        &:hover,
        &:active {
            text-decoration: underline;
        }
    }
}
a.fancybox {
    cursor: zoom-in;
}
