<div id="share-options-bar" class="share-options-bar" data-behavior="<%= sidebarBehavior %>">
  <amp-social-share type="email"></amp-social-share>
  <amp-social-share type="facebook" data-param-app_id="1060975204048170"></amp-social-share>
  <amp-social-share type="gplus"></amp-social-share>
  <amp-social-share type="tumblr"></amp-social-share>
  <amp-social-share type="twitter"></amp-social-share>
  <amp-social-share type="whatsapp"></amp-social-share>
</div>
<div id="share-options-mask" class="share-options-mask"></div>
